@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Log File Request Count Report</h1>
    <p class="lead">Parse the latest log file and output a report.</p>
    <p>
        <a href="@Url.Action("Report", "Home")" class="btn btn-primary btn-lg">
            <span>Run Report &raquo;</span>
        </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>
            The program should count the number of requests made by the IP addresses
            contained in the log file.  The report should only count GET requests made
            over the standard port used for HTTP and should exclude from the count all
            requests made from IP's beginning with '207.114'.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>The first field of the report should contain the number of requests and the second field should contain the IP address that made them.</p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>
            The report should be ordered so
            that IPs that made the most requests are listed first.  IPs that made the
            same number of requests should be ordered amongst themselves with the IP
            octets of greater values listed first.
        </p>
    </div>
</div>